<div class="transbox">
  <h1>Is this what you want?</h1>
  <p>Here you go</p>
</div>

<div class="menu_image "><p><%= image_tag @menu.photo_path %></p></div>

<div class="transbox">
  <p><%= @menu.name %></p>
  <p><%= @menu.price %> HKD</p>
  <p><%= @menu.cuisine %></p>
  <p>From <%= @menu.restaurant_name %></p>
  <p>Harry gives it a <%= @menu.harrys_choice ? "THUMBS UP" : "THUMBS DOWN" %></p>
</div>

<button type="button" class="btn btn-default btn-lg btn-block" id="explore-btn">Order Now</button>

